<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Principios de Vue</title>
    <!-- Importación de los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Elemento que será accesible desde Vue. -->
    <div class="container my-5" id="app">
        <div :class="['card', 'text-white', 'my-2', fondo]">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="input-group">
            <select v-model="colores.valor" @change="cambiarColor(colores)" class="custom-select" id="inputGroupSelect04">
                <option v-for="color of colores">{{color.valor}}</option>
            </select>
        </div>
        <div :class="['card', 'text-white', 'my-2', {'bg-success' : color, 'bg-danger' : !color}]">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <button @click="color = !color" class="btn btn-outline-dark btn-block">Cambiar</button>
    </div>
    <!-- Importación de Vue desde el CDN. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Importación del script donde se realizan las operaciones dele ejemplo. -->
    <script src="script.js"></script>

    <!-- Importación de los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>